# Copy this file to .env and fill in your keys | Terminal command: cp .env.example .env

# IMPORTANT DEVELOPER NOTE:
# I don't expect you to have your own Apify API key, so I'm providing mine below.
# It's on a limited plan but should be more than enough for reviewing this PoC - Feel free to use it :)
# APIFY_API_TOKEN=apify_api_Ot4iaUVkUGAJNek3Uefps6OxfWae6J28kJxS

OPENAI_API_KEY=sk-...
APIFY_API_TOKEN=apify_api_...
